
@{
    ViewData["Title"] = "佐证材料";
    Layout = null;
}
@using SchoolGallery.Models;
@model List<CategoryModel>;
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>验收专题</title>
    <link rel="stylesheet" type="text/css" href="~/css/base.css" />
    <link rel="stylesheet" href="~/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="~/css/index.css" />
</head>

<body>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <div class="hdd">
        <div class="header">
            <div class="lop" style="padding-top:15px;">
                <img id="Image1" src="~/images/logo.png" style="margin-left: 10px" />
            </div>
            <div class="blank30">
            </div>
            <div class="tp">
                <img id="Image2" src="~/images/banner.png" style="height:70px;width:711px;" />
            </div>
        </div>
    </div>

    <header>
        <div class="header-wrap">
            <ul class="layui-nav layui-bg-cyan" lay-filter="">
                <li class="layui-nav-item">
                    <a asp-action="Index">首页</a>
                </li>
                @foreach (var item in Model)
                {
                    <li class="layui-nav-item">
                        <a asp-action="Category" asp-route-id="@item.ID">@item.Title</a>
                    </li>
                }


            </ul>
        </div>
    </header>

    <div class="container">
        <ul class="container">
            @foreach (var item in Model)
            {
                var ImgUrl = "images/ic" + @item.ID + ".png";
                var CssClass = "ic" + item.ID;
                <li class="module-item">
                    <div class="@CssClass">
                        <a asp-action="Category" asp-route-id="@item.ID"><img src="@ImgUrl" width: 149px; height: 151px; /></a>
</div>
                    <div class="test"><a asp-action="Category" asp-route-id="@item.ID">@item.Title</a></div>
                </li>
            }


        </ul>
    </div>

    <div class="footer">
        <p>
            CopyRight © lnykzz.cn. All Right Reserved 营口市中等专业学校 版权所有
        </p>
        <p>
            辽宁省营口市西市区渤海大街西30号　电话：0417-3308018
        </p>
        <p>
            辽ICP备14001482号-1
        </p>
        <a class="btn-login" href="/login/login">点击登陆</a>
    </div>

    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script src="layui/layui.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>


</html>